<!DOCTYPE html>
<html>
<head>
    <title>Profile</title>
    <link rel='stylesheet' href='/stylesheets/styleSuccess.css' />
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script>
</head>
<body ng-app = 'other' ng-controller = 'otherProfile'>
<% include topNavigationBar.ejs %>
<div class = "backgroundImage">
</div>
<div class="navBarPF" >
    <ul>
        <li><a ng-click = "getMyTweets()"><span class="letters">tweets</span><div></div><span id="count1">1</span></a></li>
        <li><a ng-click = "getFollowingList()"><span class="letters">following</span><div></div><span id="count2">1</span></a></li>
        <li><a ng-click = "getFollowersList()"><span class="letters">followers</span><div></div><span id="count3">1</span></a></li>
    </ul>

</div>
<div id="browser">
    <div id = "ProfilePicWindow">
        <div id = "insideProfilePicWindow"></div>
    </div>
    <a id ="a" href="homePageAfterLogin"> {{ data[0].First_Name}} &nbsp {{data[0].Last_Name}}</a><br>
    <label id = "myHandle">@{{data[0].Twitter_Handle }}</label>
    <div ng-repeat = "value in data" >
         <div class = "userInfo"><span id ="name">{{ value.First_Name}} {{value.Last_Name }}</span><span id = "handle"> @{{value.Twitter_Handle}}</span></a>
        <div id="comments"> {{ value.Comments}} </div>
    </div>
</div>
</div>
</div>

<script src = "javascripts/OtherProfileController.js"></script>
</body>
</html>